<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="about.html"><li>About</li></a>
            <a href="gallery.html"><li>Gallery</li></a>
        </ul>
    </nav>
    <h1>Home</h1>
</body>
</html>